@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
  --foreground: #171717;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-work-sans: 'Work Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #161616;
  }
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Extra-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Extra-Light-Oblique.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Light-Oblique.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Book-Oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Medium-Oblique.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Bold-Oblique.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Extra-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Extra-Bold-Oblique.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/Pragmatica/Pragmatica-Extended-Black-Oblique.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: 'Pragmatica', var(--font-work-sans), Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
}



body {
  background: var(--background);
}

a {
  @apply hover:text-oceloteRed;
}

input {
  color: black;
}

@keyframes scrollVertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-slide-scroll {
  animation: scrollVertical 60s linear infinite;
}
