<section class=" w-full h-screen flex items-center justify-center text-white">
    <video autoplay loop playsinline class=" w-full h-full object-cover">
        <source src="/content/bg-mp.mov" type="video/mp4">
      Tu navegador no soporta videos en HTML5.
    </video>
    <div class="absolute w-full h-full bg-black opacity-50">
        <div class="w-full h-full flex items-center bg-amber-700">
            <div class="flex flex-col">
                <div>OCELOTE FILMS</div>
                <div>WHERE CREATIVITY MEETS FILMMAKING</div>
            </div>
        </div>
    </div>
</section>
  
