<nav class="sticky top-0">
    <div class="flex w-screen h-16 items-center p-8 bg-black">
        <img src="/logo/ocelote logo.png" class="h-6">
        <div class="w-full flex flex-row-reverse text-white font-bold">
            <ul class="flex flex-row">
                <li class="px-4">
                    <a>ABOUT US</a>
                </li>
                <li class="px-4">
                    <a>PROJECTS</a>
                </li>
                <li class="pl-4">
                    <a>CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
